<div class="profile_and_social">
	<img class="my_face_img" src="{{site.baseurl}}/assets/images/my_face.png" alt="Hi!">
	<hr />
	<p>{{ site.description | escape }}</p>
	<hr />
	<div class="social-icons">
	<ul>
	  <li>
	    <a href="https://github.com/{{ site.github_username }}">
	      <i class="fa fa-github fa-2x"></i>
	    </a>
	  </li>
	  	<li>
	    <a href="mailto:{{ site.email }}">
	      <i class="fa fa-envelope fa-2x"></i>
	    </a>
	  </li>
	  <li>	
	    <a href="https://facebook.com/{{ site.facebook_username }}">
	      <i class="fa fa-facebook-official fa-2x"></i>
	    </a>
	  </li>
	  <li>	
	    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
	      <i class="fa fa-linkedin-square fa-2x"></i>
	    </a>
	  </li>
	</ul>
	</div>
</div>