{% include header.html %}

<div class="container">
<nav class="navigation">
    <ul>
		<li><a href="{{site.baseurl}}/index.html">Home</a></li>
		<li><a href="{{site.baseurl}}/blog.html">About me</a></li>
		<li><a href="{{site.baseurl}}/blog.html">Blog</a></li>
		<li><a href="#">Resume</a></li>
		<li><a href="{{site.baseurl}}/projects.html"">Projects</a></li>
    </ul>
</nav>
<div class="row">
	<div class="col-md-4 sidebar">
		{% include sidebar.html %}
	</div>
	<div class="col-md-8 main-content">
		{{ content }}
	</div>
</div>

{% include footer.html %}
