{% include header.html %}

<div class="container">
<nav class="navbar">
    <ul class="navigation navbar-nav nav navbar-right">
		<li><a href="{{site.baseurl}}/">Home</a></li>
		<li><a href="{{site.baseurl}}/about/">About me</a></li>
		<li><a href="{{site.baseurl}}/blog/">Blog</a></li>
		<li><a href="#">Resume</a></li>
		<li><a href="{{site.baseurl}}/projects/"">Projects</a></li>
    </ul>
</nav>
<div class="row">
	<div class="col-md-4 sidebar">
		{% include sidebar.html %}
	</div>
	<div class="col-md-8 main-content">
		{{ content }}
	</div>
</div>

{% include footer.html %}
